BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
SpaceAfterCStyleCast: true
PointerAlignment: Left
DerivePointerAlignment: false